

{% extends 'base.html.twig' %}

{% block title %}Modifier un livraison{% endblock %}
{% block body %}
<div class="container mt-4">
    <h2>Modifier le livraison</h2>

    {{ form_start(form) }}


    {{ form_end(form) }}
</div>
{% endblock %}
